.button_bar {
    border-radius: 8px;
    padding: 12px 2px;
    padding-left:2px;
    padding-right:2px;
    margin:10px 15px 10px 10px;
    outline:none;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-fill-color: #ffffff;
    width: 200px;
    background-color: rgb(89, 183, 245);
    border-style: none;
  }

  .button_bar:hover {
      background-color: #e6e6e6;
      -webkit-text-fill-color: #000000;
      transition-duration:0.3s;
  }

  .centered {
  padding: 250px 0;
  width: 50%;
  margin: 0 auto;
  }
  
  
  
  label{
    font-weight: bold;
    padding-right:300px;
  }
  
  .form{
    margin: 0 auto;
    max-width: 320px;
  
  }
  
  input{
    width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  background-color:#e6e6e6;
  border-radius: 8px;
  border: none;
  outline: none;
  
  }
  
  .nav_bar{
    color:#e6e6e6
  }

  .inputField{
    padding: 10px 0;
    width: 50%;
    margin: 100px auto;
    
  }

  .button {
    font-size: 16px;
    border-radius: 4px;
    position: relative;
    margin:10px 15px 10px 10px;
    outline:none;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-fill-color: #ffffff;
    width: 100px;
    background-color: rgb(89, 183, 245);
    border-style: none;

  }

  .modal {
    border-radius: 10px;
    width: 125%;
    padding: 10px 2px;
    padding-left:2px;
    padding-right:2px;
    margin:10px 15px 10px 10px;
    background-color: rgb(89, 183, 245);
  }

  .modal > .content {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    position: relative;
    font-weight: bold;
    -webkit-text-fill-color: #ffffff;
  }

  .modal > .close {
    cursor: pointer;
    padding: 2px 5px;
    position: absolute;
    line-height: 25px;
    float: left;
    display: block;
    right: -50px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .modal > .actions {
    width: 50%;
    margin: middle;
    font-size: 14px;
    text-align: center;
  }