.booking_btn {
    border-radius: 8px;
    padding: 12px 2px;
    padding-left:2px;
    padding-right:2px;
    margin:10px 15px 10px 10px;
    outline:none;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-fill-color: #ffffff;
    width: 200px;
    background-color: rgb(89, 183, 245);
    border-style: none;
  }

  .booking_btn:hover {
      background-color: #e6e6e6;
      -webkit-text-fill-color: #000000;
      transition-duration:0.3s;
  }

  .centered {
  padding: 250px 0;
  width: 50%;
  margin: 0 auto;
  }
  
  
  
  label{
    font-weight: bold;
    padding-right:300px;
  }
  
  .form{
    margin: 0 auto;
    max-width: 320px;
  
  }
  
  input{
    width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  background-color:#e6e6e6;
  border-radius: 8px;
  border: none;
  outline: none;
  
  }
  
  .nav_bar{
    color:#e6e6e6
  }

  .inputField{
    padding: 10px 0;
    width: 50%;
    margin: 100px auto;
    
  }