.book_btn {
    border-radius: 8px;
    padding: 12px 2px;
    padding-left:2px;
    padding-right:2px;
    margin-top:25px;
    outline:none;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-fill-color: black;
    width: 200px;
    background-color: #e6e6e6;
    border-style: none;
  }

  .book_btn:hover {
      background-color: #e6e6e6;
      -webkit-text-fill-color: #000000;
      transition-duration:0.3s;
  }

  .centered {
  padding: 250px 0;
  width: 50%;
  margin: 0 auto;
  }
  
  
  
  label{
    font-weight: bold;
    padding-right:300px;
    font-size: 20px;
  }
  
  .form{
    margin: 0 auto;
    max-width: 320px;
  
  }
  
  input{
    width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  background-color:#e6e6e6;
  border-radius: 8px;
  border: none;
  outline: none;
  
  }
  
  .nav_bar{
    color:#e6e6e6
  }

  .inputField{
    padding: 10px 0;
    width: 50%;
    margin: 100px auto;
    
  }

  #heading {
    text-align: center;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
  }

  #services{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    position: static;
  
  }

  #services td, #services th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #services tr:nth-child(even){background-color: #f2f2f2;}

  #services th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #333;
    color: white;
  }
