.login_btn {
  border-radius: 8px;
  padding: 12px 20px;
  padding-left:25px;
  padding-right:25px;
  outline:none;
  text-decoration: none;
  width: 390px;
  background-color:#e6e6e6;
  border-style: none;


}

.centered {
padding: 250px 0;
width: 50%;
margin: 0 auto;
}



label{
  font-weight: bold;
  padding-right:300px;
}

.form{
  margin: 0 auto;
  max-width: 320px;

}

.input{
  width: 350px;
padding: 12px 20px;
margin: 8px 0;
background-color:#e6e6e6;
border-radius: 8px;
border: none;
outline: none;

}

.nav_bar{
  color:#e6e6e6
}