
#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #bookings {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #bookings td, #days th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #bookings tr:nth-child(even){background-color: #f2f2f2;}
  
  #bookings tr:hover {background-color: #ddd;}
  
  #bookings th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(89, 183, 245);
    color: white;
  }

  .worker_button {
    border-radius: 8px;
    padding: 12px 2px;
    padding-left:2px;
    padding-right:2px;
    margin:10px 15px 10px 10px;
    outline:none;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-fill-color: #ffffff;
    background-color: rgb(89, 183, 245);
    border-style: none;
    width: 200px;
  }

  .worker_button:hover {
      background-color: #e6e6e6;
      -webkit-text-fill-color: #000000;
      transition-duration:0.3s;
  }

  .buttonBar {
    align-content:center;
    text-align:center;
}